*{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;;
}
header{
    background-color: #fff6f6;
    background-image: url('images/header_bg.png'), url(images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
.marry{
    color: #000000;
}
span{
    color: #FD6E0A;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 10px 200px;
    align-items:center;
}
nav ul{
    display: flex;
    align-items: center;
    color: #474747;
}
nav li{
    list-style: none;
    font-size: 20px;
    margin-left: 50px;
}
.hire-me{
    background-color: #FD6E0A;
    color: #ffffff;
    padding: 18px 30px;
    border-radius: 5px;
    border-style: none;
    font-size: 20px;
    height: 55px;
    text-align: center;
}
.Down{
    background-color: #FD6E0A;
    color: #ffffff;
    padding: 18px 30px;
    border-radius: 5px;
    border-style: none;
    font-size: 20px;
    height: 55px;
    text-align: center;
}
.contact{
    background-color: #ffffff;
    color: #FD6E0A;
    padding: 16px 30px;
    height: 55px;
    border-radius: 5px;
    border-color: #FD6E0A;
    font-size: 20px;
}
.align{
    margin: 0 10px 0 200px;
    align-items:center;
    display: flex;
}
.name-pera{
    margin-bottom: 10px;
    color: #757575;
    font-size: 18px;
}
.name{
    font-weight: 700;
    color: #000000;
    font-size: 85px;
}
.name-intro{
    color: #000000;
    font-weight: 600;
    font-size: 45px;
}

#about{
    padding: 20px;
    align: center;
    margin: 20px 300px 100px;
    border-radius: 2px;
    background-color: rgb(255, 246, 246);
}
.ab{
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: space-evenly;
}
.about{
    text-align: center;
    font-size: 35px;
    margin-bottom: 50px;
}
.ab1, .ab2, .ab3, .ab4, .about-des{
    color: #474747;
}
.about-des{
    text-align: center;
    font-size: 18px;
    margin-bottom: 50px;
}
.gh{
    color: #474747;
    text-align: center;
    margin: 150px 300px 0px;
    padding: 0px;
    font-size: 35px;
    background-color: #fff6f6;
}
.gghh{
    text-align: center;
    color: #757575;
    margin: 0px 300px 30px;
    padding: 50px;
    background-color: #fff6f6;
}
.hh{
    display: flex;
    gap: 20px;
    margin: 0 100px 100px;
    background: #ffffff;;
}
.hhhh{
    margin-left: 40px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.803);
    background-color: #ffffff;
    padding: 40px;
}
.rd{
    font-size: 35px;
    text-align: center;
    margin: 150px 400px 50px;
}
.six{
    display: flex;
    justify-content: space-between;
}
.msc{
    padding: 25px;
    font-size: 20px;
    color:#474747;
    margin: 0 50px 50px;
}
.download{
    background-color: #FD6E0A;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    border-style: none;
    font-size: 20px;
    margin: 0 550px 100px;
}
.p-left{
    color:#474747;
    padding: 15px;
    margin-bottom: 15px;
} 
.h-left{
    font-size: 35px;
}
#footer{
    background-color: #fff6f6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
    padding: 100px 50px;
}
.sub{
    background-color: #FD6E0A;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    border-style: none;
    font-size: 20px;
}
@media screen and (max-width: 576px) {
    .gh, .gghh{
        margin: 0px;
        padding: 10px;
    }
    .hh{
        flex-direction: column;
    }
    .rd{
        margin: 0;
    }
    .six{
        flex-direction: column;
    }
    .msc{
        margin: 0 10px;
        padding: 20px;
    }
    #footer{
        padding: 10px;
        flex-direction: column-reverse;
        text-align: center;
        gap: 20;
    }
    .p-left{
        padding: 5px;
    }
    #about{
        padding: 20px;
        margin: 0;
    }
    .ab{
        flex-direction: column;
        text-align: center;
    }
    nav{
        margin-left: 0px;
        justify-content:;
    }
    nav ul{
        justify-content:flex-start;
        gap: 45%;
    }
    nav h2{
        display: none;
    }
    nav li{
        margin-left: 0px;
    }
    .hire-me, .Down{
        font-size: 1.2em;
        padding: 2px 10px 5px;
        height: 40px;
        white-space: nowrap;
    }
    .contact{
        font-size: 1.2em;
        padding: 2px 20px 5px;
        height: 40px;
    }
    .name-intro{
        font-size: 2em;
    }
    .name{
        font-size: 3em;
    } 
    .align{
        margin: 0 30px 0 100px;
    }
    .align > img{
        width: 150px;
    }
    .download{
        margin: 0 30px 100px;
    }
}